@model IEnumerable<GBC_Travel_Group23.Models.CarRental>

<h2>Search Car Rentals</h2>

<table>
    <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>Capacity</th>
        <th>Rate</th>
        <th>Location</th>
    </tr>

    @foreach (var carRental in Model)
    {
        <tr>
            <td>@carRental.Make</td>
            <td>@carRental.Model</td>
            <td>@carRental.CarYear</td>
            <td>@carRental.Capacity</td>
            <td>@carRental.Rate</td>
            <td>@carRental.Location</td>
        </tr>
    }
</table>