@model GBC_Travel_Group23.Models.Hotel

<h2>@Model.Name Details</h2>

<div>
    <h3>Location</h3>
    <p>@Model.Location.City, @Model.Location.Country</p>

    <h3>Address</h3>
    <p>@Model.Address</p>

    <h3>Amenities</h3>
    <ul>
        @foreach (var amenity in Model.Amenities)
        {
            <li>@amenity</li>
        }
    </ul>

    <h3>Rooms</h3>
    <table>
        <tr>
            <th>Room Name</th>
            <th>Max Occupants</th>
            <th>Amenities</th>
            <th>Available Rooms</th>
            <th>Rate (per night)</th>
        </tr>

        @foreach (var room in Model.Rooms)
        {
            <tr>
                <td>@room.RoomName</td>
                <td>@room.MaxOccupants</td>
                <td>
                    @foreach (var amenity in room.Amenities)
                    {
                        <span>@amenity</span>
                    }
                </td>
                <td>@room.RoomCount</td>
                <td>@String.Format("{0:C}", room.Rate)</td>
            </tr>
        }
    </table>
</div>
