@model IEnumerable<GBC_Travel_Group23.Models.Flight>

@{
    ViewData["Title"] = "Flight Search Results";
}

<h1>Search Results</h1>

<table>
    <thead>
        <tr>
            <th>Airline</th>
            <th>Flight Code</th>
            <th>Departure</th>
            <th>Destination</th>
            <th>Departure Date</th>
            <th>Arrival Date</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var flight in Model)
        {
            <tr>
                <td>@flight.Airline</td>
                <td>@flight.FlightCode</td>
                <td>@flight.DepartureLocation.AirportCode</td>
                <td>@flight.ArrivalLocation.AirportCode</td>
                <td>@flight.DepartureDate.ToString("g")</td>
                <td>@flight.ArrivalDate.ToString("g")</td>
                <td>@String.Format("{0:C}", flight.Price)</td>
            </tr>
        }
    </tbody>
</table>
