@model IEnumerable<GBC_Travel_Group23.Models.Booking>

<h2>Your Bookings</h2>

@if (Model != null && Model.Any())
{
    <dl class="row">
        <h3>Client Details</h3>
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9"></dd>
        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9"></dd>
        <dt class="col-sm-3"></dt>
        <dd class="col-sm-9"></dd>


    </dl>
    <dl class="row">
        <dt class="col-sm-3">Booking ID</dt>
        <dd class="col-sm-9"></dd>
        <dt class="col-sm-3">Departure</dt>
        <dd class="col-sm-9"></dd>
        <dt class="col-sm-3">Departure Airport Code</dt>
        <dd class="col-sm-9"> </dd>
        <dt class="col-sm-3">Destination</dt>
        <dd class="col-sm-9"> </dd>
        <dt class="col-sm-3">Destination Airport</dt>
        <dd class="col-sm-9"> </dd>
        <dt class="col-sm-3"></dt>
        <dd class="col-sm-9"> </dd>
        <dt class="col-sm-3"></dt>
        <dd class="col-sm-9"> </dd>
        <dt class="col-sm-3"></dt>
        <dd class="col-sm-9"> </dd>
    </dl>
    <table class="table">
        <thead>
            <tr>
                <th>Booking ID</th>
                <th>Service Type</th>
                <th>Details</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model)
            {
                <tr>
                    <td>@booking.Id</td>
                    <td>@booking.Type</td>
                    <td>
                        @if (booking.Flight != null)
                        {
                            @: Flight to @booking.Flight.ArrivalLocation.City on @booking.Flight.DepartureDate.ToString("MM/dd/yyyy")
                        }
                        else if (booking.CarRental != null)
                        {
                            @: Car Rental - @booking.CarRental.Make @booking.CarRental.Model
                        }
                        else if (booking.HotelRoom != null)
                        {
                            @: Hotel Stay at @booking.HotelRoom.Hotel.Name
                        }
                    </td>
                    <td>@booking.StartDate.ToString("MM/dd/yyyy")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No bookings found for this client.</p>
}
