@model GBC_Travel_Group23.Models.Booking

@{
    ViewData["Title"] = "Make Booking";
}
@if (ViewBag.Type == "flight")
{
    <h1>Book Your Flight</h1>
} else if (ViewBag.Type == "car")
{
    <h1>Book Your Car Rental</h1>
} else
{
    <h1>Book Your Hotel Room</h1>
}
<div class="row">
    <div class="col-md-6">
        @if (ViewBag.Type == "flight")
        {   
        <dl class="row">
            <dt class="col-sm-3">Airline</dt>
                <dd class="col-sm-9">@ViewBag.Service.Airline</dd>

            <dt class="col-sm-3">Plane</dt>
                <dd class="col-sm-9">@ViewBag.Service.Plane</dd>

            <dt class="col-sm-3">Flight Code</dt>
                <dd class="col-sm-9">@ViewBag.Service.FlightCode</dd>

            <dt class="col-sm-3">Departure</dt>
                <dd class="col-sm-9">@ViewBag.Service.DepartureLocation.City - @ViewBag.Service.DepartureDate.ToString("g")</dd>

            <dt class="col-sm-3">Arrival</dt>
                <dd class="col-sm-9">@ViewBag.Service.ArrivalLocation.City - @ViewBag.Service.ArrivalDate.ToString("g")</dd>

            <dt class="col-sm-3">Available Seats</dt>
                <dd class="col-sm-9">@ViewBag.AvailableSeats / @ViewBag.Service.TotalSeats</dd>

            <dt class="col-sm-3">Ticket Price</dt>
                <dd class="col-sm-9">@ViewBag.Service.Price.ToString("C")</dd>
            </dl>
        } else if (ViewBag.Type == "car")
        {

        } else
        {
            
        }
        <form asp-action="ConfirmBooking" method="post">
            
            <input type="hidden" asp-for="ServiceId" value="@ViewBag.Service.Id"/>
            <input type="hidden" asp-for="Type" value="@ViewBag.Type"/>
            @if (ViewBag.Type == "flight")
            {
                <input type="hidden" asp-for="StartDate" value="@ViewBag.Service.DepartureDate" />
                <input type="hidden" asp-for="EndDate" value="@ViewBag.Service.ArrivalDate" />
            } else
            {
                <input type="hidden" asp-for="StartDate" value="@ViewBag.StartDate" />
                <input type="hidden" asp-for="EndDate" value="@ViewBag.EndDate" />
            }
            
            <div class="form-group">
                <label asp-for="Client.FullName" class="control-label">Full Name</label>
                <input asp-for="Client.FullName" class="form-control" required pattern="[A-Za-z\s]+" />
                <span asp-validation-for="Client.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.Email" class="control-label">Email</label>
                <input asp-for="Client.Email" class="form-control" required type="email" />
                <span asp-validation-for="Client.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.Phone" class="control-label">Phone Number</label>
                <input asp-for="Client.Phone" class="form-control" required pattern="[0-9]+" />
                <span asp-validation-for="Client.Phone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="GuestCount" class="control-label">Number of Guests</label>
                @if (ViewBag.Type == "flight")
                {
                    <input asp-for="GuestCount" class="form-control" required type="number" min="1" max="@ViewBag.AvailableSeats" />
                }

                else if(ViewBag.Type == "hotelroom")
                {
                    <input asp-for="GuestCount" class="form-control" required type="number" min="1" max="@ViewBag.Service.MaxOccupants" />
                }
                else
                {
                    <input asp-for="GuestCount" class="form-control" required type="number" min="1" />
                }
                <span asp-validation-for="GuestCount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Confirm Booking" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
